@charset "utf-8";
/* CSS Document */
body {
	background-image: url("../images/background.svg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFF;
	font-size: 16px;
	height: 100%;
}

.hidden { display: none }

#container {
	width: 100%;
}

#game-board {
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#illustration {
	height: 1150px;
	width: 53%;
	margin-left: -120px;
	margin-top: -80px;
	background-image: url("../images/gramaphone.svg"); 
	background-repeat: no-repeat;
	background-size: cover;
}

.instruments {
	background-image: url("../images/grid.svg");
	background-repeat: no-repeat;
	width: 30%;
	height: 800px;
}

.instruments-container {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 516px;
}

.instruments-row {
	height: 24%;
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
}

.instruments img {
	padding: 0;
}

.music-board {
	display: inline-flex;
	margin: auto;
	margin-top: 810px;
	margin-left: 330px;
	width: 600px;
	height: 140px;
}

.icon {
	display: inline-block;
	padding: 20px;
	width: 90px;
	cursor: pointer;
}

.drop-zone img {
	width: 100px;
	padding: 50px; 
	cursor: default;
}

#resetButton {
	padding: 5px;
	margin-top: 10px;
}

/* set up drop zones */

.drop-zone { 
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	width: 25%;
	height: 100%;
}

.drop-zone img {
	width: 100%;
}

/* end board styles */


header {
	position: relative;
	top: 20px;
	width: 600px;
	margin: 0px auto;
	text-align: center;
}

header h1 {
	font-size: 3.25em;
  	letter-spacing: 3px;
	margin: 10px 0
}

header p, footer p { 
	font-size: 1.7em; 
	letter-spacing: 2px; 
	margin: 10px 0 
}

footer {
	position: relative;
	width: 600px;
	margin: 65px auto 0;
	text-align: center;
}

#buttonHolder { margin: 0px auto; text-align: center; }

#buttonHolder img {
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 20px;
	border: thin solid #333;
	cursor: pointer;
}

#buttonHolder img:hover { opacity: .5; }

#title {
	width: 800px;
	height: 250px;
	margin-left: 20px;
	position: absolute;
	top: 0px;
	left: 40%;
}

#title img {
	width: 100%;
}